<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Nội thất cao cấp ChovyDecor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="x-icon" href="\IMG\\Chovy_preview_rev_1.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            padding-top: 60px; /* Khoảng cách để tránh bị navbar che nội dung */
            margin-bottom: 0px;
            font-family: Arial, sans-serif;
        }
        /* CSS cho hover */
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* Đảm bảo menu xuất hiện ngay dưới mục cha */
        }

        .abc {
            display: none;
             margin-top: 0; /* Đảm bảo menu xuất hiện ngay dưới mục cha */ 
        }
        /* CSS cho menu con chia thành 2 cột */
        .dropdown:hover .abc {
            display: flex;
            flex-wrap: nowrap;
        }

        .dropdown-column {
            flex: 1;
            padding: 10px;
        }
        nav ul li a{
            text-transform:uppercase;
            color: black !important;
        }
        footer {
            background-color: #434343;
            clear: both;
            overflow: hidden;
        }

        .youremail:focus {
            border: none !important;
        }

        .btndangky:hover {
            border: 1px solid white;
            color: white;
            background-color: crimson;
        }

        .btndangky {
            border: 1px solid white;
            color: white;
            background-color: black;
        }

        .navbar.scrolled {
            background-color: #222 !important;
            /* font-size: small; */
            height: 80px;
            transition: all 0.6s ease-in-out;
        }

        .navbar.scrolled ul li a{
            color: white !important;
        }

            .navbar.scrolled ul li .abc a{
                color: black !important;
            }

            .navbar.scrolled ul li .tk a {
                color: black !important;
            }

        .navbar.scrolled .image{
                filter: invert(100%) brightness(200%);
        }

        .search{
         border:none;
         margin-left:7px;
        }

        .search:focus{
            border:none;
            box-shadow:none;
        }

        .navbar.scrolled form{
            background-color: white;
        }

        .dropdown-column a{
            margin-bottom: 10px;
        }

        .dropdown-column .dropdown-item:hover {
            background-color: gainsboro;
            transition: 0.3s;
        }
    </style>
</head>
<body>
    <header>  
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top font-weight-bold" id="navbar" style="z-index:10000">
            <div class="container">
                <a class="navbar-brand image" style="width:10%;" asp-action="Index" asp-controller="Home">
                    <img src="\IMG\Chovy_preview_rev_1.png" alt="Logo" width="100" height="100" class="mb-3">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" style="width:90%">
                    <ul class="navbar-nav" style="width:80%">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="GioiThieu" asp-controller="Home">Giới thiệu</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-action="DanhSachSanPham" asp-controller="Home" id="navbarDropdown" role="button" aria-expanded="false">
                                Danh mục sản phẩm
                            </a>
                            <div class="dropdown-menu abc" aria-labelledby="navbarDropdown">
                                <div class="dropdown-column">
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="1">Bàn ăn</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="2">Bàn gaming</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="3">Bàn học</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="4">Bàn trang điểm</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="5">Bàn văn phòng</a>
                                </div>
                                <div class="dropdown-column">
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="6">Ghế</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="7">Giường ngủ</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="8">Kệ tivi</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="9">Tủ quần áo</a>
                                    <a class="dropdown-item" asp-action="Ban" asp-controller="Home" asp-route-id="10">Vách ngăn phòng</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="LienHe" asp-controller="Home">Liên hệ</a>
                        </li>
                        <form class="d-flex ms-5" role="search" style="width:250px; border:1px solid gainsboro; border-radius:15px" method="get" action="@Url.Action("TimKiem", "Home")">
                            <input class="form-control search" name="keyword" type="search" placeholder="Tìm sản phẩm" aria-label="Search">
                            <button class="bi bi-search btn" type="submit"></button>
                        </form>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width:20%">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-action="TaiKhoan" asp-controller="Home" id="accountDropdown" role="button" aria-expanded="false">
                                Tài khoản
                            </a>
                            <ul class="dropdown-menu tk" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" asp-action="DangNhap" asp-controller="Home">Đăng nhập</a></li>
                                <li><a class="dropdown-item" asp-action="DangKy" asp-controller="Home">Đăng kí</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home">Đăng xuất</a></li>
                                <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="GioHang" asp-controller="GioHang">Giỏ hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <footer>
        <div class="row mx-3">
            <div class="col-sm-2 col-md-2 text-white mt-5">
                <img src="\IMG\Chovy_preview_rev_1.png" class="ms-5" alt="" style="background-color: white;" width="100px" height="100px">
                <p class="mt-3"> ChovyDecor - Nội thất cao cấp</p>
                <div>Liên kết mạng xã hội</div>
                <div class="row mt-2">
                    <div class="col-sm-2"><a href="" style="background-color: dodgerblue; text-align: center;"><i class='bx bxl-facebook' style='color:white; width: 25px;'></i></a></div>
                    <div class="col-sm-2"><a href="" style="background-color: deepskyblue;text-align: center"><i class='bx bxl-twitter' style='color:white;width: 25px;'></i></a></div>
                    <div class="col-sm-2"><a href="" style="background-color: crimson;text-align: center"><i class='bx bxl-youtube' style='color:white;width: 25px;'></i></a></div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 text-white mt-5">
                <span class="fs-4 fw-bold">Liên hệ</span>
                <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
                <p>Cửa hàng nội thất giá tốt hàng đầu Việt Nam</p>
                <p>61/2 Quang Trung, P.10 Q. Gò Vấp, TP. HCM 61/2 Quang Trung, P.10 Q. Gò Vấp, TP. HCM</p>
                <p class="bi bi-telephone"> 0909.000.000</p>
                <p class="bi bi-envelope"> chovydecor@gmail.com</p>
            </div>
            <div class="col-sm-2 col-md-2 text-white mt-5">
                <span class="fs-4 fw-bold">Giới thiệu</span>
                <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
                <p>Phòng khách</p>
                <p>Phòng ngủ</p>
                <p>Phòng làm việc</p>
                <p>Phòng bếp</p>
            </div>
            <div class="col-sm-2 col-md-2 text-white mt-5">
                <span class="fs-4 fw-bold">Hướng dẫn</span>
                <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
                <p>Câu hỏi thường gặp</p>
                <p>Chính sách đổi trả</p>
                <p>Hướng dẫn bảo quản</p>
                <p>Hướng dẫn thanh toán</p>
                <p>Hướng dẫn mua hàng</p>
            </div>
            <div class="col-sm-3 col-md-3 text-white mt-5">
                <span class="fs-4 fw-bold">Đăng ký để nhận ưu đãi</span>
                <div style="width: 35px; border: 2px solid gray;" class="mt-1 mb-2"></div>
                <p>Hãy để lại email của bạn để nhận được những ý tưởng trang trí mới và những thông tin, ưu đãi từ ChovyDecor</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control youremail" placeholder="Email của bạn" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btndangky text-white border border-1" type="button" id="button-addon2">Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="row mt-5" style="height: 70px;">
            <div style="border: 1px solid gainsboro; height: 1px;"></div>
            <div class="text-center mt-1 text-secondary">
                © Bản quyền thuộc về ChovyDecor. Powered by Haravan
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script>
        window.addEventListener('scroll', function () {
            var navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    </script> *@
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
