@{
    ViewData["Title"] = "Liên hệ";
}
<style>
    body{
        margin-top:70px;
    }
</style>
<div class="container">
    <div class="row">
        <article class="col-md-6 mt-4">
            <div class="row">
                <h4>Liên hệ với chúng tôi</h4>
            </div>
            <div class="row">
                <form style="width: 100%; background-color: whitesmoke; height: 580px;">
                    <div class="mb-3 mt-2">
                        <label for="ten" class="form-label">Họ tên</label>
                        <span style="font-weight: bold;font-size: 20px;color: red;">*</span>
                        <input type="email" class="form-control" id="ten" aria-describedby="emailHelp"
                               ng-model="fullname" required>
                    </div>
                    <div class="mb-3">
                        <label for="diachi" class="form-label">Địa chỉ</label>
                        <span style="font-weight: bold;font-size: 20px;color: red;">*</span>
                        <input type="text" class="form-control" id="diachi" ng-model="address" required>
                    </div>
                    <div class="mb-3">
                        <label for="sdt" class="form-label">Số điện thoại</label>
                        <span style="font-weight: bold;font-size: 20px;color: red;">*</span>
                        <input type="text" class="form-control" id="sdt" ng-model="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="GhiChu" class="form-label">Ghi chú</label>
                        <span style="font-weight: bold;font-size: 20px;color: red;">*</span>
                        <textarea name="ghichu" id="GhiChu" cols="30" rows="6" class="form-control"
                                  ng-model="message"></textarea>
                        <div id="emailHelp" class="form-text" style="font-size: 15px;">
                            Dấu <span class="text-danger"><strong>*</strong></span> không được bỏ trống
                        </div>
                    </div>
                    <!-- <div ng-hide="thongbao">Không được bỏ trống thông tin </div> -->
                    <!-- <button type="button" id="send" class="btn btn-primary" ng-disabled="!fullname && !address && !phone" ng-click="send()" data-bs-toggle="modal" data-bs-target="#exampleModal">Gửi</button> -->
                    <button type="button" id="send" class="btn btn-primary" ng-click="send()" data-bs-toggle="modal" data-bs-target="#exampleModal">Gửi</button>
                </form>
            </div>
            <!-- Modal -->
            <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Thông tin của bạn đã được gửi!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="col-md-6">
            <div class="mt-5 h-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.420430970218!
                2d105.75565247450827!3d9.982086773343747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s2
                5nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1705569671935!5m2!1svi!2s" width="100%" height="600"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>

